<header class="site-header">
  <div class="site-header-wrapper">
    <h1>
      <button
        [routerLink]="['/']"
        mat-menu-item
      ><img src="../../assets/images/logo.png" alt="Bethany's Pie Shop Logo" /></button>
    </h1>
    <nav>
      <ul>
        <li>
          <button routerLinkActive="active-link" ariaCurrentWhenActive="page" class="menu-item" mat-button [matMenuTriggerFor]="menu"
          >Shop
            <span>&#8964;</span>
            <mat-menu class="menu-dropdown" #menu="matMenu">
              <button
                [routerLink]="[ROUTER_TOKENS.SHOP, Category.SEASONAL_PIE]"
                routerLinkActive="active-link-li"
                ariaCurrentWhenActive="page"
                mat-menu-item
              >Seasonal Pies</button>
              <button
                [routerLink]="[ROUTER_TOKENS.SHOP, Category.FRUIT_PIE]"
                routerLinkActive="active-link-li"
                ariaCurrentWhenActive="page"
                mat-menu-item
              >Fruit Pies</button>
              <button
                [routerLink]="[ROUTER_TOKENS.SHOP, Category.CHEESECAKE]"
                routerLinkActive="active-link-li"
                ariaCurrentWhenActive="page"
                mat-menu-item
              >Cheesecakes</button>
              <button
                [routerLink]="[ROUTER_TOKENS.SHOP, Category.ALL]"
                routerLinkActive="active-link-li"
                ariaCurrentWhenActive="page"
                mat-menu-item
              >All Pies</button>
            </mat-menu>
          </button>
        </li>
        <li>
          <button
            [routerLink]="[ROUTER_TOKENS.CONTACT]"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
            class="menu-item"
            mat-button
          >Contact</button>
        </li>
        <li>
          <button
            [routerLink]="[ROUTER_TOKENS.ABOUT]"
            routerLinkActive="active-link"
            ariaCurrentWhenActive="page"
            class="menu-item"
            mat-button
          >About</button>
        </li>
      </ul>
    </nav>
    <div class="header-icons">
      <ul>
        <li><button mat-menu-item><img src="../../assets/images/cart-icon.png" alt="shopping cart icon" /></button></li>
      </ul>
    </div>
  </div>
</header>
