<header class="site-header">
  <div class="site-header-wrapper">
    <h1>
      <a mat-menu-item><img src="../../assets/images/logo.png" alt="Bethany's Pie Shop Logo" /></a>
    </h1>
    <nav>
      <ul>
        <li>
          <a class="menu-item" mat-button [matMenuTriggerFor]="menu">Shop <span>&#8964;</span></a>
          <mat-menu class="menu-dropdown" #menu="matMenu">
            <button mat-menu-item (click)="changeCategory('Seasonal Pies')">Seasonal Pies</button>
            <button mat-menu-item (click)="changeCategory('Fruit Pies')">Fruit Pies</button>
            <button mat-menu-item (click)="changeCategory('Cheesecakes')">Cheesecakes</button>
            <button mat-menu-item (click)="changeCategory('All Pies')">All Pies</button>
          </mat-menu>
        </li>
        <li><a class="menu-item" mat-button>Contact</a></li>
        <li><a class="menu-item" mat-button>About</a></li>
      </ul>
    </nav>
    <div class="header-icons">
      <ul>
        @let userId = this.authService.userId();
        <li>
          <a mat-menu-item class="user-icon">
          @if(!userId){
            <span class="log-in">Log In</span>
            <img src="../../assets/images/user-icon.png" height="35" width="35" alt="user" />
          } @else {
            @let user = this.authService.authenticatedUser.value();
            <span class="log-out">Log Out {{user?.name}}</span>
            <img src="../../assets/images/user-icon.png" height="35" width="35" alt="user" />
          }
        </a></li>
        @let totalItems = this.cartService.cartTotals().totalCartCount;
        <li><a mat-menu-item>
          <span class="total-items">{{ totalItems }}</span>
          <img src="../../assets/images/cart-icon.png" alt="" />
        </a></li>
      </ul>
    </div>
  </div>
</header>
