.site-header-wrapper {
  background-color: rgba(200, 125, 82, 1);
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px 50px;
}

.site-header-wrapper h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.site-header-wrapper nav {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.site-header-wrapper nav ul {
  display: flex;
  list-style-type: none;
}

.site-header-wrapper nav ul li button{
  color: white;
  display: block;
  font-weight: 600;
  margin-left: 30px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
}

.site-header-wrapper .header-icons ul {
  display: flex;
  list-style-type: none;
}

.site-header-wrapper .header-icons ul li {
  margin-left: 30px;
}

.menu-item span {
  position: relative;
  top: -5px;
}

.active-link {
  font-size: 16px;
  font-weight: 800;
  text-shadow: 3px 3px 3px rgba(54, 48, 44, 1);
}

.active-link-li {
  background-color: rgb(222, 222, 222);
}
