<section class="main-content">
  <div class="contact-wrapper">
    <div class="image-wrapper">
      <img src="../../assets/images/about.png" alt="" />
    </div>
    <div class="form-wrapper">
      <h3>About Us</h3>
      <p>
        Grandma Bethany made the best pies in town. She often sold her delicious confections at a little pie stand at the end of their lane.
        People drove for miles to buy her seasonal and fruit pies. In 1986, she opened her first shop on main street and called it Bethany's Pie Shop.
      </p>
      <p>
        Today, Bethany's Pie Shop is lovingly ran by her grand daughters, Alicia and Sarah. Using her original recipes, Alicia and Sarah bake their pies
        fresh every day and shipped out overnight for maximum freshness. 
      </p>
    </div>
  </div>
</section>
