<section class="main-content">
  <app-breadcrumbs route="About" />
  <div class="contact-wrapper">
    <div class="image-wrapper">
      <img src="../../assets/images/about.png" alt="" />
    </div>
    <div class="form-wrapper">
      <h3>About Us</h3>
      <p>
        Bethany’s baking journey began at a roadside pie stand, where the irresistible aroma of her hand-crafted, small-batch pies would draw in passersby from miles away.
        Her secret? Farm-fresh ingredients, flaky all-butter crusts, and recipes passed down through generations. In 1986, fueled by a growing fanbase and a deep love for
        honest baking, she opened the first Bethany’s Pie Shop on Main Street—where community and comfort came together, one slice at a time.
      </p>
      <p>
        Today, Bethany’s Pie Shop remains proudly family-owned and operated by her granddaughters, Alicia and Sarah. They bake every pie from scratch each morning,
        using locally sourced produce, organic flour, and Bethany’s original time-honored recipes. Every pie is shipped overnight to guarantee homemade freshness
        and that just-baked taste—because for Alicia and Sarah, pie isn’t just dessert, it’s a way of life.
      </p>
    </div>
  </div>
</section>
