
  h3 {
    color: rgba(54, 48, 44, 1);
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 0 18px 0;
    line-height: 1.7rem;
  }

  p {
    color: rgba(54, 48, 44, 1);
    font-size: 1.2rem;
    font-weight: 200;
    margin: 0 0 58px 0;
    line-height: 1.8rem;
    width: 75%;
  }
