.pizza-not-found-headline {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: left;
}

.pizza-not-found-message {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 2rem;
  text-align: left;
}

button {
  background-color: rgba(255, 208, 201, 1);
  border: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  border-radius: 10px;
  color: rgba(54, 48, 44, 1);
  font-size: 1rem;
  font-weight: 600;
  height: 51px;
  text-transform: uppercase;
  width: 219px;
  &:hover{
    background-color: rgba(255, 208, 201, 0.8);
    box-shadow: 0 4px 16px rgba(0,0,0,0.5);
  }
}

