.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail h3 {
  text-align: left;
  color: rgba(54, 48, 44, 1);
  font-size: 36px;
  font-weight: 800;
  margin: 0 0 30px 0;
  line-height: 38px;
}

/* .detail button {
  color: rgba(54, 48, 44, 1);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 20px;
  max-width: 500px;
  margin-top: 20px;
} */

.image-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-wrapper img {
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
  margin-right: 20px;
  flex-grow: 1;
  margin-bottom: 20px;
}

.description {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.description p {
  font-weight: 200;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.ingredient {
  font-weight: 200;
}

.ingredient::after {
  content: ', '
}
.ingredient:last-of-type::after {
  content: ''
}

.description p.price {
  font-size: 1.4rem;
  font-weight: 700;
}

.quantity-selector-wrapper {
  align-items: center;
  display: flex;
}

.quantity-selector-wrapper a {
  color: rgba(54, 48, 44, 0.5)
}

.quantity-selector {
  align-items: center;
  background-color: rgba(255, 208, 201, 1);
  border: 2px solid rgba(54, 48, 44, 0.3);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-right: 20px;
  padding: 0 10px;
  width: 75%;
}

.quantity-selector button {
  color: rgba(200, 125, 82, 1);
  border: 0;
  font-size: 1.6rem;
  background-color: rgba(255, 208, 201, 1);
}

.quantity-selector span {
  color: rgba(54, 48, 44, 1);
  font-size: 18px;
}
