<div class="detail" *ngIf="selectedPie() as selectedPie">
  <h3>{{ selectedPie.title }}</h3>
  <div class="image-wrapper">
    <img [src]="selectedPie.image" [alt]="selectedPie.title" />
    <div class="description">
      <p>{{ selectedPie.description }}</p>
      <h4>Ingredients: <span class="ingredient" *ngFor="let ingredient of selectedPie.ingredients">{{ ingredient }}</span></h4>
      <p class="price">Price: <span>{{ selectedPie.price }}</span></p>
    </div>
  </div>

  <div class="quantity-selector">
    <button (click)="cartService.decrementCartItem(selectedPie)">-</button>
    <span (click)="cartService.addCartItem(selectedPie)">{{ selectedPie?.quantity ? selectedPie?.quantity + ' in Cart' : 'Add to Cart'}}</span>
    <button (click)="cartService.addCartItem(selectedPie)">+</button>
  </div>
</div>
