<section class="main-content">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="contact-wrapper">
    <div class="image-wrapper">
      <img src="../../assets/images/contact.png" alt="image of person sticking a fork in a piece of pie" />
    </div>
    <div class="form-wrapper">
      <h3>We'd Love to Hear from You</h3>
      <p>Please fill out the form below to let us know how we can help.</p>
      <fieldset>
        <form>
          <label for="full_name">Full name</label>
          <input type="text" id="full_name" name="full_name" value="" />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" value="" />
          <label for="phone">Phone</label>
          <input type="tel" id="phone" name="phone" value="" />
          <label for="comment">Comment</label>
          <textarea id="comment" name="comment"></textarea>
          <button mat-raised-button type="submit" name="submit" id="submit">Submit</button>
        </form>
      </fieldset>
    </div>
  </div>
</section>
