<section>
  <div class="pie-grid">
    <app-card>
      <img image src="../../assets/images/pie-1.png" alt="image of Original Cheesecake" />
      <h4 title>Classic Apple Pie</h4>
      <p price>$12.95</p>
    </app-card>
    <app-card>
      <img image src="../../assets/images/pie-2.png" alt="image of Original Cheesecake" />
      <h4 title>Classic Pumpkin Pie</h4>
      <p price>$15.95</p>
    </app-card>
    <app-card>
      <img image src="../../assets/images/pie-3.png" alt="image of Original Cheesecake" />
      <h4 title>Classic Pecan Pie</h4>
      <p price>$18.95</p>
    </app-card>
  </div>
</section>
