.main-content {
  margin-top: 20px;
  padding: 0 20px;
}

.contact-wrapper {
  margin-top: 20px;
  background-color: rgba(253, 246, 246, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 51px 51px 51px;
}

.image-wrapper {
  width: 40%;
  margin-right: 20px;

  img {
    width: 100%;
  }
}

.form-wrapper {
  width: 55%;
  min-width: 400px;
  display: flex;
  flex-direction: column;

  .column-wrapper {
    align-items: left;
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      width: 48%;
    }
  }
}
