html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: rgba(253, 246, 246, 1);
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1486px;
}

.main-content {
  margin-top: 20px;
  padding: 0 20px;
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 50px;
    padding: 51px 51px 0 51px;
    text-transform: uppercase;
  }
  .category-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.carousel {
  height: 552px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-image {
  height: 552px;
  max-width: 100%;
  position: absolute;
  width: 100%;
}

.carousel-image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.carousel-button-1 {
  bottom: 0;
  position: absolute;
  right: 50px;
  z-index: 10;
}

.carousel-button-2 {
  bottom: 0;
  position: absolute;
  right: 30px;
  z-index: 10;
}

.carousel-button-3 {
  bottom: 0;
  position: absolute;
  right: 10px;
  z-index: 10;
}

.carousel button {
  background: url('/assets/images/carousel-button-hollow.png') 50% 50% no-repeat;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 1.125rem;
  height: 40px;
  position: absolute;
  width: 20px;
  z-index: 10px;
}

