
.side-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image-button {
  margin: 10px;
  border: none;
  padding: 0;
  text-align: center;
  background-color: rgba(256, 256, 256, 1);
  width: 100px;
}

.image-button img {
  width: 100px;
  height: 100px;
}

.image-button img:hover {
  width: 95px;
  height: 95px;
  filter: drop-shadow(0 0 0.5rem rgb(33, 18, 16));
}

.image-button:focus img {
  width: 95px;
  height: 95px;
  border: solid 3px white;
  filter: drop-shadow(0 0 0.5rem rgb(33, 18, 16));
}
