
.side-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.image-button {
  flex-grow: 1;
  margin: 10px;
  border: none;
  padding: 0;
  text-align: center;
  background-color: rgba(253, 246, 246, 1);
}

.image-button img {
  width: 100%;
  height: 100%;
  min-width: 95px;
}

.image-button img:hover {
  width: 95%;
  height: 95%;
  filter: drop-shadow(0 0 0.5rem rgb(33, 18, 16));
}

.active-link img {
  width: 95%;
  height: 95%;
  border: solid 3px white;
  filter: drop-shadow(0 0 0.5rem rgb(33, 18, 16));
}
