.pie-cards-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  margin: 10px;
}

button.pie-card {
  background: #fff;
  border-radius: 12px;
  border: none;
  margin: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem;
  transition: box-shadow 0.2s;
  &:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.50);
  }
}


.pie-thumb {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.pie-card h3 {
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
}
